h1 {
    background-color: aquamarine;
}
h2 {
    background-color: lightcoral;
}
p {
    background-color: violet;
    color: blue;
}
ul {
  background-color: beige;
}
#parrafo {
    background-color: blanchedalmond;
}
.parrafo {
    background-color: lightgrey;
    color: gray
}