/* -------------------------------------------------------------------------- */
/* --------- Fancy old-style letter stylesheet --------- */
/* --------- by xavimat --------- */
/* --------- 2022-04-06 --------- */
/* -------------------------------------------------------------------------- */

/* --------- FONTS ---------------- */
/* --------- Fonts import --------- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

/* --------- Apply font to all tags --------- */
* {
    font-family: 'Playfair Display', serif;
}

/* --------- TAG PROPERTIES ----------- */
/* --------- Block containers --------- */
html {
    font-size: 18px;
}

body {
    align-content: center;
    margin: auto;
    max-width: 800px;
}

main {
    padding: 2rem 3rem;
    background-color: antiquewhite;
    background-image: url("img/parchment-tile.png");
    position: relative;
}
h2 {
    transform: skew(-20deg);
}
address {
    font-size: 110%;
}
p, dl {
    text-align: justify;
    hyphens: auto;
    line-height: 150%;
}
p::first-letter {
    color: maroon;
    font-size: 2em;
}
dt {
    margin-top: 1rem;
    font-weight: bold;
    word-spacing: 1rem;
    word-wrap: break-word;
}
dd {
    font-style: italic;
}
dd:first-line {
    font-variant: small-caps;
    font-style: normal;
}
ul li {
    list-style-type: upper-roman;
}
ol li {
    padding: 0.8em;
    border-radius: 15px;
}
ol li:hover {
    background-color: #ffffff66;
}
li:first-child {
    color: maroon;
}
h2::before, ul li::before, dd {
    content: '✎ ';
    color: maroon;
}
aside {
    writing-mode: vertical-rl;
    position: absolute;
    height: 100%;
    text-align: center;
    top: 5px;
    right: 5px;
    font-size: 80%;
}

/* --------- Inline containers --------- */
a {
    text-decoration: none;
    color: maroon;
    font-weight: bold;
    padding: 0 0.5em;
    border-radius: 1em;
}
a:hover {
    background-color: #f6c2c2;
}
q {
    quotes: "«" "»" "“" "”";
}
abbr {
    padding: 0 0.2em;
    border-radius: 5px;
    border: 2px solid #f30c0c88;
}



/* --------- ID TAGS --------- */
#footer {
    text-align: center;
    margin-top: 5rem;
    border-top: 1px solid black;
}




/* --------- CLASS TAGS --------- */
.header {
    text-align: right;
}
.address-strong {
    font-weight: bold;
}
.motto-cite {
    font-style: italic;
}

.signature {
    margin-top: 5rem;
}

/* --------- Date-hover effect --------- */
.date {
    border-radius: 1em;
    margin: 0 0.5em;
    padding: 0 0.5em;
    border: 3px dotted transparent;
    font-style: italic;
    cursor: pointer;
    transition: border 0.5s ease;
}
.date:hover {
    border: 3px dotted maroon;
}
.remember {
    opacity: 0;
    padding-left: 3rem;
    transition: all 1s ease;
}
.date:hover + .remember {
    opacity: 100%;
    padding-left: 0;
}

/* ------ This text has been incorrectly recognized by OCR after scan. ------ */
.wrong {
    text-decoration: underline red wavy 1px;
}

.godown {
    vertical-align: text-top;
}
